<div class="formulario">
    <div class="cuerpo-fomulario">
        <h3>Nuevo Proyecto</h3>
    <form (ngSubmit)="CrearProyecto()" novalidate #f="ngForm">
        <div class="form-group">
            <label class="label" for="institucion">Institucion</label><br>
            <input type="text" class="formcontrol" id="institucion" name="institucion"
            [(ngModel)]="institucion" required>
        </div>
        <div class="form-group">
            <label class="label" for="descripcion">Descripcion</label><br>
            <input type="text" class="formcontrol" id="descripcion" name="descripcion"
            [(ngModel)]="descripcion" required>
        </div>
        <div class="form-group">
            <label  class="label" for="imagenUrl">ImagenUrl</label><br>
            <input type="text" class="formcontrol" id="imagenUrl" name="imagenUrl"
            [(ngModel)]="imagenUrl" required>
        </div>
        <div class="form-group">
            <label class="label" for="entrada">Año de ingreso</label><br>
            <input type="number" class="formcontrol" id="anio" name="anio"
            [(ngModel)]="anio" required>
        </div>
        <mat-dialog-actions>
        <button mat-button class=" enviar btn btn-outline-success btn-block" (click)="cancelar()" [disabled]="!f.valid">
            <i class="fa-solid fa-plus"></i>  Enviar</button>
        </mat-dialog-actions>
       
    </form><br>
        <button mat-button class="cancelar btn btn-outline-danger btn-block" (click)="cancelar()">
            <i class="fas fa-arrow-alt-circle-left"></i>  Cancelar</button>
    </div>
