<div class="container">

    <div class="principal">
        <div class="card">
            <div class="imgBx">
                <img src="https://image.shutterstock.com/image-photo/bearded-man-long-beard-brutal-260nw-623019197.jpg" alt="">    
            </div>
            <div class="content">
                    <div class="details">
                        <h2>Emilio Ruben Martinez<br><span>FullStack Developer</span></h2>
                    </div>
            </div>
        </div>
    </div>

</div>