*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
}
.foto
{
    position: absolute;
    bottom: -40%;
    left: 5%;
}
.banner
{
    padding: 100px;
    position:relative;
    min-height: 80vh;
    max-width: 100%;
    background: url(https://img.freepik.com/free-photo/female-hands-typing-tablet-keyboard-dark-office-desk-with-schedule-book-decoration_67155-9367.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner h2 
{
    font-size: 5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.textBx
{
    display: flex;
    flex-wrap: wrap;
}
.banner h2 span
{
    font-weight: 700;
    font-size: 1,5em;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500; 
    margin-left: 10px;
}
.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
}
span
{
    color:#2ccca4;
}


