<section class="about" *ngFor ="let persona of personas">
   <div class="responsive">
    <div class="heading">
        <h2>Acerca de mí</h2>
    </div>
    <div class="content">
        <div class="contentBx w50">
               <h3>{{persona.descripcion}}</h3>
               <div class="botones">
                <td *ngIf="isAdmin">
                  <button class="btn btn-outline-warning" routerLink="/editarpersona/{{persona.id}}">
                <i class="far fa-edit"></i></button></td>
                </div>
        </div>
        <div class="w50">
            <img src="https://img.freepik.com/free-photo/female-hands-typing-tablet-keyboard-dark-office-desk-with-schedule-book-decoration_67155-9367.jpg" class="img">
        </div>
    </div>
    </div>
</section>

