<section class="services">
  <div class="headingwhite">
    <h2>Skills</h2>
  </div>
  <div>
    <div style="font-size:1.5rem; height: 80px;">
        <button mat-raised-button class="btn btn-outline-success btn-lg" (click)="agregarSkill()">
          <i class="fa-solid fa-plus"></i>  Agregar Skill</button>
    </div>

</div>

  <div class="content">
    
          <div class="servicesBx" *ngFor="let skill of skills">
            <img src="{{skill.imagenUrl}}">
            <h2>{{skill.nombre}}</h2>
            <h1>{{skill.porcentaje}}</h1>
            <div class="botones">
            <td *ngIf="isAdmin">
              <button class="btn btn-outline-warning" routerLink="/check/{{skill.id}}">
              <i class="far fa-edit"></i></button></td>

            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" 
              (click)="borrar(skill.id)"><i class="far fa-trash-alt"></i></button></td>
            </div>
          </div>
  </div>


</section>









<!---->

<!--<div class="container">
<div class="card" style="width: 12rem;" *ngFor="let producto of productos">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">{{producto.nombre}}</h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h1>{{producto.precio}}</h1></li>
  </ul>
</div>
</div>


<app-menu></app-menu>
<div class="container">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Ver</th>
            <th scope="col" *ngIf="isAdmin">Editar</th>
            <th scope="col" *ngIf="isAdmin">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}€</td>
            <td><button class="btn btn-outline-primary" routerLink="/detalle/{{producto.id}}"><i class="far fa-eye"></i> Ver</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/editar/{{producto.id}}"><i class="far fa-edit"></i> Editar</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(producto.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <div class="mt-3" *ngIf="isAdmin">
          <buttton class="btn btn-outline-success btn-lg" routerLink="/nuevo">
            <i class="fa-solid fa-plus"></i>Nuevo Producto</buttton>
      </div>
</div>-->