<section class="services">
  <div class="headingwhite">
    <h2>Skills</h2>
  </div>
  <div>
   
        <button mat-raised-button class="btn btn-outline-light btn-sm" 
        (click)="agregarSkill()" *ngIf="isAdmin" >
        <i class="fa-solid fa-plus"></i>  Agregar Skill</button>
    

</div>

  <div class="content">
    
          <div class="servicesBx" *ngFor="let skill of skills">
            <img src="{{skill.imagenUrl}}">
            <h2>{{skill.nombre}}</h2>
            <progress id="file" max="100" value="{{skill.porcentaje}}"></progress>
            <h1>{{skill.porcentaje}}</h1>
            <div class="botones">
            <td *ngIf="isAdmin">
              <button class="btn btn-outline-warning" routerLink="/check/{{skill.id}}">
              <i class="far fa-edit"></i></button></td>

            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" 
              (click)="borrar(skill.id)"><i class="far fa-trash-alt"></i></button></td>
            </div>
          </div>
  </div>


</section>




