<!--<app-menu></app-menu>
<div class="container text-center">
        <div *ngIf="isLogged; else loggedOut"><h2>Bienvenido {{nombreUsuario}}  </h2></div>
        <ng-template #loggedOut> <h2>No has iniciado sesión</h2></ng-template>
</div>-->
<app-header></app-header>
<app-banner></app-banner>
<app-acerca></app-acerca>
<app-lista-educacion></app-lista-educacion>
<app-lista-experiencia></app-lista-experiencia>
<app-lista></app-lista>
<app-lista-proyectos></app-lista-proyectos>
<app-footer></app-footer>

