
<section class="services">
  <div class="headingwhite">
    <h2>Proyectos</h2>
  </div>
  <div>
    <button mat-raised-button class="btn btn-outline-light btn-sm" 
    (click)="agregarProyecto()" *ngIf="isAdmin" >
    <i class="fa-solid fa-plus"></i>  Agregar Proyecto</button>
  </div>
      

  <div class="content">
    
          <div class="servicesBx" *ngFor="let proyecto of proyectos">
            <img src="{{proyecto.imagenUrl}}">
            <h2>{{proyecto.institucion}}</h2>
            <p>{{proyecto.descripcion}}</p>
            <p>{{proyecto.anio}}</p>
            

            <div class="botones">
            <td *ngIf="isAdmin">
              <button class="btn btn-outline-warning" routerLink="/editarproyecto/{{proyecto.id}}">
              <i class="far fa-edit"></i></button></td>

            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(proyecto.id)"
              ><i class="far fa-trash-alt"></i></button></td>
            </div>
          </div>
  </div>


</section>

