.formulario
{
    position:absolute;
    margin-left: 30%;
    margin-right: 30%;
    max-width: 300px;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.enviar
{
    position:absolute;
    margin-left: 30%;
    margin-right: 10%;
}