<link rel="stylesheet" href="nuevo.component.css">
<div class="formulario">
<div class="cuerpo-fomulario">
    <h3>Nueva Skill</h3>
<form (ngSubmit)="CrearSkill()" novalidate #f="ngForm">
    <div class="form-group">
        <label class="label" for="nombre">Nombre</label>
        <input type="text" class="formcontrol" id="nombre" name="nombre"
        [(ngModel)]="nombre" required>
    </div>
    <div class="form-group">
        <label  class="label" for="imagenUrl">ImagenUrl</label>
        <input type="text" class="formcontrol" id="imagenUrl" name="imagenUrl"
        [(ngModel)]="imagenUrl" required>
    </div>
    <div class="form-group">
        <label class="label" for="porcentaje">Porcentaje</label>
        <input type="number" class="formcontrol" id="porcentaje" name="porcentaje"
        [(ngModel)]="porcentaje" required>
    </div>
    <mat-dialog-actions>
    <button mat-button class=" enviar btn btn-outline-success btn-block" (click)="cancel()" [disabled]="!f.valid">
        <i class="fa-solid fa-plus"></i>  Enviar</button>
    </mat-dialog-actions>
   
</form>
    <button mat-button class="cancelar btn btn-outline-danger btn-block" (click)="cancel()">
        <i class="fas fa-arrow-alt-circle-left"></i>  Cancelar</button>
</div>




