.formulario
{
    position: fixed;
    top: 0px;
    left: 30%;
    right:30%;
    z-index: 1000;
    background: #111;
    color:#fff;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width:350px;

}
h3
{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.label
{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.cuerpo-fomulario
{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    padding: 3px;
    margin: 0px;
    background:#111;

    
}

.form-group
{
    display:flex;
    flex-direction:column;
    padding-left:2px;
    padding-right:2px;
}
.formcontrol
{
    background: #111;
    color:#fff;
    margin-left:10px;
    margin-right: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-radius: 0%;
    border-style: solid;
    border-color: #6f7777;
    
}
.formcontrol:focus
{
    outline: none;
}
.enviar
{
    
    font-size: 12px;
    margin-left: 2%;
    margin: 5.5%;
}
.cancelar
{
    position: relative;
    bottom: 18.5%;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 70%;
    margin-right: 2%;
    
}
