<section class="services">
  <div class="headingwhite">
    <h2>Educación</h2>
  </div>
  <div>
    <div style="font-size:1.5rem; height: 80px;">
        <span> AgendaLive</span>
        <span class="example-spacer"></span>
        <button mat-raised-button class="btn btn-outline-success btn-lg" (click)="agregarEducacion()" >Agregar Educacion</button>
    </div>

</div>

  <div class="content">
    
          <div class="servicesBx" *ngFor="let educacion of titulos">
            <img src="{{educacion.imagenUrl}}">
            <h1>{{educacion.institucion}}</h1>
            <h4>{{educacion.descripcion}}</h4>
            <h4>{{educacion.entrada}}</h4>
            <h4>{{educacion.salida}}</h4>

            <div class="botones">
            <td *ngIf="isAdmin">
              <button class="btn btn-outline-warning" routerLink="/editareducacion/{{educacion.id}}">
              <i class="far fa-edit"></i></button></td>

            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(educacion.id)"
              ><i class="far fa-trash-alt"></i></button></td>
            </div>
          </div>
  </div>


</section>
