<section class="services">
  <div class="headingwhite">
    <h2><span>E</span>ducación<span>.</span></h2>
    <div>
      <button mat-raised-button class="btn btn-outline-light btn-sm" 
      (click)="agregarEducacion()" *ngIf="isAdmin" >
      <i class="fa-solid fa-plus"></i>  Agregar Educacion</button>
    </div>

  </div>


  <div class="content">
    
          <div class="servicesBx" *ngFor="let educacion of titulos">
            <img src="{{educacion.imagenUrl}}">
            <h2>{{educacion.institucion}}</h2>
            <p>{{educacion.descripcion}}</p>
            <p>{{educacion.entrada}}</p>
            <p>{{educacion.salida}}</p>

            <div class="botones">
            <td *ngIf="isAdmin">
              <button class="btn btn-outline-warning" routerLink="/editareducacion/{{educacion.id}}">
              <i class="far fa-edit"></i></button></td>

            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(educacion.id)"
              ><i class="far fa-trash-alt"></i></button></td>
            </div>
          </div>
  </div>


</section>
